<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline' "
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Sticky Notes</title>
  </head>
  <div class="container">
    <ul id="listNotes"></ul>
  </div>
  <body>
    <footer>
      <p id="curentDate"></p>
      <img
        src="../public/img/dboff.png"
        id="iconeDB"
        alt=" icone do banco de dados"
      />
    </footer>
    <script src="renderer.js"></script>
  </body>
</html>
